<!--  Page for Greeting Users -->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>{{ title }}</title>

    <link rel="shortcut icon" type='image/x-icon' href="{{ url_for('static', filename='favicon/favicon_meditation.ico') }}">

</head>

{% include 'flashing_interface.html' %}   <!-- Adds our 'message flash' interface to the top of our greetings page. -->

<body>

<h1 style="text-align: center;">Welcome {{ current_user.first_name }}!</h1>  <!-- Welcomes the current user by first name. -->

<br>

<form action='' method='POST' style="text-align: center;">  <!-- DETERMINES THE START OF OUR FORM IN WTFORMS -->

    <p>form.hidden_tag()</p>  <!-- CSRF PROTECTION -->

    <div class="row">

        <h5 style="text-align: center;">How is your mental health today?</h5>

        <div class="column">

            {% for feeling in mood_form.current_feeling %}

                {{ feeling }} - {{ feeling.label }}

            {% endfor %}

        </div>

    </div>   <!-- FIRST ROW OF BUTTONS -->

    <br>

    <div class="row">

        <h5 style="text-align: center;">How are you feeling compared to yesterday?</h5>

        <div class="column">

            {% for feeling in mood_form.feeling_comparison %}

                    {{ feeling }} - {{ feeling.label }}

            {% endfor %}

        </div>

    </div>   <!-- SECOND ROW OF BUTTONS -->

    <br>

    <div class="row">

        <h5 style="text-align: center;">How are you feeling compared to yesterday?</h5>

        <div class="column">

            {% for behaviour in mood_form.behaviours %}

                    {{ feeling }} - {{ feeling.label }}

            {% endfor %}

        </div>

    </div>   <!-- THIRD ROW OF BUTTONS -->

    <br>

    <div class="form-control form-control-lg">

            {{ mood_form.patient_comment }} - {{ mood_form.patient_comment.label }}

    </div>  <!-- TWITTER STYLE TEXT BOX -->

    <div class="btn">

                {{ mood_form.submit }}

    </div>  <!-- SUBMIT BUTTON -->


</form>

<br>

<p style="text-align: center;">

    <a href="{{ url_for('dashboard_bp.dashboard') }}">😓 Or skip today's evaluation. 😓</a>

</p>













</body>
</html>