<!--  Page for Greeting Users -->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>{{ title }}</title>

    <link rel="shortcut icon" type='image/x-icon' href="{{ url_for('static', filename='favicon/favicon_meditation.ico') }}">

</head>

{% include 'flashing_interface.html' %}   <!-- Adds our 'message flash' interface to the top of our greetings page. -->

<h1 style="text-align: center;">Welcome {{ current_user.first_name }}!</h1>  <!-- Welcomes the current user by first name. -->

<form action='' method='POST' style="text-align: center;">  <!-- DETERMINES THE START OF OUR FORM IN WTFORMS -->

    {{ form.hidden_tag() }}  <!-- CSRF PROTECTION -->

    <div class="row">

        <h5 style="text-align: center;">{{ form.current_feeling.description }}</h5>

        <div class="column">

            {% for feeling in form.current_feeling %}

                {{ feeling }} {{ feeling.label }}

            {% endfor %}

            {% if form.current_feeling.errors %}

                    <br> <br>

                    <div class='error'>

                        {% for error in form.current_feeling.errors %}

                            <span>{{ error }}</span>

                        {% endfor %}

                    </div>

            {% endif %}

        </div>

    </div>   <!-- FIRST ROW OF BUTTONS -->

    <br>

    <div class="row">

        <h5 style="text-align: center;">{{ form.feeling_comparison.description }}</h5>

        <div class="column">

            {% for feeling in form.feeling_comparison %}

                    {{ feeling }} {{ feeling.label }}

            {% endfor %}

                {% if form.feeling_comparison.errors %}

                    <br> <br>

                    <div class='error'>

                        {% for error in form.feeling_comparison.errors %}

                            <span>{{ error }}</span>

                        {% endfor %}

                    </div>

            {% endif %}

        </div>

    </div>   <!-- SECOND ROW OF BUTTONS -->

    <br>

    <div class="row">

        <h5 style="text-align: center;">{{ form.behaviours.description }}</h5>

        <div class="column">

            {% for behaviour in form.behaviours %}

            <span style="padding: 10px"> {{ behaviour }} {{ behaviour.label }} </span>

            {% endfor %}

            {% if form.behaviours.errors %}

                    <br>

                    <div class='error'>

                        {% for error in form.behaviours.errors %}

                            <span>{{ error }}</span>

                        {% endfor %}

                    </div>

            {% endif %}

        </div>

    </div>   <!-- THIRD ROW OF BUTTONS -->

    <br> <br>

    <div style="text-align: center;" class="form-control form-control-lg">

        {{ form.patient_comment.label }}

        <br> <br>

        {{ form.patient_comment }}

                    {% if form.patient_comment.errors %}

                    <br> <br>

                    <div class='error'>

                        {% for error in form.patient_comment.errors %}

                            <span>{{ error }}</span>

                        {% endfor %}

                    </div>

            {% endif %}

    </div>  <!-- TWITTER STYLE TEXT BOX -->

    <br>
    <br>

    <div class="btn">

                {{ form.submit }}

    </div>  <!-- SUBMIT BUTTON -->


</form>

<br>

<p style="text-align: center;">

    <a href="{{ url_for('dashboard_bp.dashboard') }}">😓 Or skip today's evaluation. 😓</a>

</p>

</body>
</html>