[Unit]
Description=Run the MiWell flask app as a systemd service with gunicorn.
After=network.target

[Service]
User=miwell-admin

# give group ownership to the www-data group so that Apache can communicate easily with Gunicorn.
Group=www-data

# Define the working directory and set the environmental file.

WorkingDirectory=/opt/miwell-flask-app/

Environment="PATH=/opt/miwell-flask-app/venv/bin"

EnvironmentFile=/opt/miwell-flask-app/miwell-hosted.env

ExecStart=/bin/bash /opt/miwell-flask-app/venv/bin/gunicorn --config gunicorn_config.py wsgi:app

[Install]
WantedBy=multi-user.target

