python-dotenv==0.14.0
Flask==1.1.2
Jinja2==2.11.2
PyMySQL==0.10.0
Flask-WTF==0.14.3
Flask-Login==0.5.0
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==2.4.4
email-validator==1.1.1
gunicorn==20.0.4
Flask-Argon2==0.1.5.1
Flask-Principal==0.4.0