<!DOCTYPE html>
<html lang="en">

<!-- HTML containing the layout for our main site. -->

    <head>

        <meta charset="UTF-8">

        {% block head %} {% endblock %}

        <link rel="shortcut icon" type='image/x-icon' href="{{ url_for('static', filename='favicon/favicon_ying_yang.ico') }}">

    </head>

    {% include 'flashing_interface.html' %}

    {% include 'main/main_layout/main_nav.html' %}


    <body>

        {% block body %} {% endblock %}

    </body>


        {% include 'footer.html' %}

</html>