<div class='form'>

    <form method='POST' action=''>

        {{ patient_form.hidden_tag() }}  <! -- CSRF Protection Tag -->

            <div class='form_group'>

                {{ patient_form.username.label }}
                {{ patient_form.username }}

                {% if patient_form.username.errors %}

                    <div class='error'>

                        {% for error in patient_form.username.errors %}

                            <span>{{ error }}</span>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>  <! -- Username -->

        <br>
        <br>

            <div class='form_group'>

                {{ patient_form.email.label }}
                {{ patient_form.email }}

                {% if patient_form.email.errors %}

                    <div class='error'>

                        {% for error in patient_form.email.errors %}

                            <span>{{ error }}</span>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>  <! -- Email -->

        <br>
        <br>

            <div class='form_group'>

                {{ patient_form.password.label }}
                {{ patient_form.password }}

                {% if patient_form.password.errors %}

                    <div class='error'>

                        {% for error in patient_form.password.errors %}

                            <span>{{ error }}</span>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>  <! -- New Password -->

        <br>
        <br>

            <div class='form_group'>

                {{ patient_form.confirm_password.label }}
                {{ patient_form.confirm_password }}

                {% if patient_form.confirm_password.errors %}

                    <div class='error'>

                        {% for error in patient_form.confirm_password.errors %}

                            <span>{{ error }}</span>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>  <! -- Confirm Password -->

        <br>
        <br>

            <div class='form_group'>

                {{ patient_form.first_name.label }}
                {{ patient_form.first_name }}

                {% if patient_form.first_name.errors %}

                    <div class='error'>

                        {% for error in patient_form.first_name.errors %}

                            <span>{{ error }}</span>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>  <! -- First Name -->

        <br>
        <br>

            <div class='form_group'>

                {{ patient_form.last_name.label }}
                {{ patient_form.last_name }}

                {% if patient_form.last_name.errors %}

                    <div class='error'>

                        {% for error in patient_form.last_name.errors %}

                            <span>{{ error }}</span>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>  <! -- Last Name -->

        <br>
        <br>

            <div class='form_group'>

                {{ patient_form.phone_number.label }}
                {{ patient_form.phone_number }}

                {% if patient_form.phone_number.errors %}

                    <div class='error'>

                        {% for error in patient_form.phone_number.errors %}

                            <span>{{ error }}</span>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>  <! -- Phone Number -->

        <br>
        <br>

            <div class='form_group'>

                {{ patient_form.postcode.label }}
                {{ patient_form.postcode }}

                {% if patient_form.postcode.errors %}

                    <div class='error'>

                        {% for error in patient_form.postcode.errors %}

                            <span>{{ error }}</span>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>  <! -- Postcode -->

        <br>
        <br>

            <div class='form_group'>

                {{ patient_form.medical_conditions.label }}
                {{ patient_form.medical_conditions }}

                {% if patient_form.medical_conditions.errors %}

                    <div class='error'>

                        {% for error in patient_form.medical_conditions.errors %}

                            <span>{{ error }}</span>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>  <! -- Medical Conditions -->

        <br>
        <br>

            <div class='recaptcha'>

                {{ patient_form.recaptcha }}

            </div>  <! -- Recaptcha -->

        <br>
        <br>

            <div class='form_submit_button'>

                {{ patient_form.submit }}

            </div>  <! -- Submit Button -->

        <br>
        <br>

    </form>

</div>