<form method='POST' action=''>

    <p>form.hidden_tag()</p>

    <label for="email">Email Address:</label> <br>
    <input id="email" name="email" type="text">

    <br>
    <br>

    <label for="new_password">New Password:</label><br>
    <input id="new_password" name="new_password" type="text">

    <br>
    <br>

    <label for="repeat_password">Confirm Password:</label><br>
    <input id="repeat_password" name="repeat_password" type="text">

    <br>
    <br>

    <label for="first_name">First Name:</label><br>
    <input id="first_name" name="first_name" type="text">

    <br>
    <br>

    <label for="last_name">Last Name:</label><br>
    <input id="last_name" name="last_name" type="text">


    <br>
    <br>


    <input id="psychiatrist" name="psychiatrist" type="checkbox">
    <label for="remember_me">I'm a psychiatrist.</label>

    <label for="last_name">BACP Number:</label><br>
    <input id="BACP_Number" name="BACP_Number" type="text">

    <input type="submit" value="Register!">

</form>