<!DOCTYPE html>
<html lang="en">

    <!-- The HTML layout template for our patient and psychiatrist dashboard. -->

    <head>

        <meta charset="UTF-8">

        {% block head %}{% endblock %}

        {% include 'dashboard/dashboard_favicons.html' %}

    </head>

    {% include 'flashing_interface.html' %}   <!-- Adds our 'message flash' interface to the top of our dashboard. -->

    {% include 'dashboard/dashboard_nav_logic.html' %}   <!-- Adds our nav bar dashboard logic. -->

    <body>

        {% block body %}{% endblock %}

    </body>


    <footer>

        {% include 'footer.html' %}

    </footer>


</html>